{% extends "base.html" %}

{% block page_header %}
<a href=".." class="back-button">Data Catalog</a>
{% include "includes/page_header.html" with title=theme.display_name only %}
{% endblock %}

{% block content %}
{% if layers %}
<div class="list-group">
  {% include "data_catalog/includes/theme_info.html" %}

  {% for layer in layers %}
  <div class="list-group-item" href="./{{ layer.name }}">
    {% include "data_catalog/includes/layer_info.html" %}
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
