{% extends "layouts/detail.html" %}

{% block page_title %}{{theme.display_name}}{% endblock %}
{% block body_class %}data-theme-page{% endblock %}

{% block back_text %}Catalog{% endblock %}


{% block detail %}{% endblock %}
{% block content %}
  {% include "data_catalog/includes/theme_info.html" with full=True item=theme %}
  {% if layers %}
  <div class="list-group">

    {% for layer in layers %}
    <div class="list-group-item" href="./{{ layer.name }}">
      {% include "data_catalog/includes/layer_info.html" %}
    </div>
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}
