{% extends "layouts/detail.html" %}

{% block title %}Data Catalog: {{theme.display_name}}{% endblock %}
{% block body_class %}data-theme-page{% endblock %}

{% block back_text %}Data Catalog{% endblock %}

{% block media-body %}
  <h2>{{ theme.display_name }}</h2>
  <div class="description">
    {{ theme.description }}
  </div>
  {% if layers %}
    <div class="layer-list">
      {% for layer in layers %}
        {% include "data_catalog/includes/layer_info.html" %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block media %}<div class="badge">{{ theme.layer_count }}</div>{% endblock %}
{% block extra_js %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
