*.pyc
.DS_Store
/.venv/
/*/settings/local.py
/static/
/media/
/.vagrant/
Vagrantfile.local
/docs/_build/
/db.sqlite3
madrona-analysistools
madrona-features
madrona-forms
madrona-manipulators
madrona-openid
madrona-scenarios
madrona-user-profile
mp-clipping
mp-data-manager
mp-drawing
mp-explore
mp-profile
mp-visualize
p97-nursery
src

marco_site/static/css/
marco_site/static/fonts/
marco_site/static/js/