*.pyc
.DS_Store
/.venv/
/deps/
/*/settings/local.py
/static/
/media/
/.vagrant/
Vagrantfile.local
/docs/_build/
/db.sqlite3
deps
.sass-cache
node_modules

marco_site/static/css/
marco_site/static/fonts/
marco_site/static/js/
