*.pyc
.DS_Store
/.venv/
/apps/
/*/settings/local.py
/static/
/media/
/.vagrant/
Vagrantfile.local
vagrant
/docs/_build/
/db.sqlite3
/apps/
/deps/
.sass-cache
node_modules

marco_site/static/bundles/
marco_site/static/css/
marco_site/static/fonts/
marco_site/static/js/
marco_site/static/bundles/
htmlcov
.idea
.coverage
config.ini
marco.db

.bashrc
dev_fixture.json