.navbar {
  border: 0;
  li > a {
    font-weight: 900;
  }
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  height: @navbar-height;
  position: relative;
  img {
    position: absolute;
    height: 70%;
    top: 50%;
    margin-top: -70%;
  }
}

@media (min-width: @grid-float-breakpoint) {
  .dropdown-menu {
    > li {
      > a {
        padding-top:    @navbar-padding-vertical/2;
        padding-bottom: @navbar-padding-vertical/2;
      }
    }
  }
}
