<section class="layer-info">
    <span id="layer-info-{{ layer.slug }}"></span>
  <h4>
    <a href="{{layer.bookmark_link}}" class="layer-name{% if not layer.bookmark_link %} disabled{% endif %}" data-toggle="tooltip" 
    title="View in Marine Planner" data-placement="top">
      {{layer.name}}</a>
    {% if layer.is_sublayer %}
      <span class="layer-parent-name">
        / {{ layer.parent.name }}
      </span>
    {% endif %}
  </h4>

  <div class="link-bar">
    <span data-toggle="tooltip" data-placement="bottom" title="View in Marine Planner">
      <a class="btn btn-mini{% if not layer.bookmark_link %} disabled{% endif %}" href="{{layer.bookmark_link}}">
        <i class="icon-marco oversized"></i>
      </a>
    </span>
    <span class="divider"></span>
    <span data-toggle="tooltip" data-placement="bottom" title="Download for Google Maps">
      <a class="btn btn-mini{% if not layer.kml %} disabled{% endif %}" href="{{layer.kml}}">
        kml <i class="fa fa-arrow-down"></i>
      </a>
    </span>
    <span class="divider"></span>
    <span data-toggle="tooltip" data-placement="bottom" title="Download ESRI Formatted Dataset">
      <a class="btn btn-mini{% if not layer.data_download_link %} disabled{% endif %}" href="data_download_link">
        data <i class="fa fa-arrow-down"></i>
      </a>
    </span>
    <span class="divider"></span>
    <span data-toggle="tooltip" data-placement="bottom" title="View Metadata">
      <a class="btn btn-mini{% if not layer.metadata_link %} disabled{% endif %}" href="metadata_link">
        metadata <i class="fa fa-arrow-down"></i>
      </a>
    </span>
    <span class="divider"></span>
    <span data-toggle="tooltip" data-placement="bottom" title="{{ layer.data_source }}">
      <a class="btn btn-mini{% if not layer.source %} disabled{% endif %}" href="">
        source <i class="fa fa-external-link-square"></i>
      </a>
    </span>
  </div>


  <p class="description">{{layer.description}}</p>
  <p class="source"><strong>Source:</strong> <a href="{{layer.source}}">{{layer.data_source}}</a></p>
  <p class="notes"><strong>Notes:</strong> {{layer.data_overview}}</p>
</section>
