{% extends "base.html" %}
{% load wagtailcore_tags static%}

{% block extra_css %}
  <style>
    #map { height: 50vh; }
  </style>
  <link rel="stylesheet" href="{% static 'bower_components/leaflet/dist/leaflet.css' %}" />
{% endblock %}

{% block content %}

  <div id="map"></div>

  <div class="container">
    <h1>{{ self.title }}</h1>
    {% if self.sections %}
      <div class="sections">
          {% for section in self.sections.all %}
              <div class="section">
                  <h2>{{ section.title }}</h2>
                  {% if section.body %}
                    {{ section.body|richtext }}
                  {% endif %}
              </div>
          {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'bower_components/leaflet/dist/leaflet.js' %}"></script>
	<script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
  <script src="{% static 'bower_components/leaflet-plugins/layer/tile/Google.js' %}"></script>
  <script src="{% static 'bower_components/esri-leaflet/dist/esri-leaflet.js' %}"></script>
  <script src="{% static 'bower_components/proj4/dist/proj4.js' %}"></script>
  <script src="{% static 'bower_components/Proj4Leaflet/src/proj4leaflet.js' %}"></script>
  <script src="{% static 'portal/ocean_stories/leaflet_map_engine.js' %}"></script>
  <script src="{% static 'portal/ocean_story.js' %}"></script>
  <script type="text/javascript">
    var story = {
      {% if self.sections %}
        sections: [
        {% for section in self.sections.all %}
          {{ section.map_state|safe }},
        {% endfor %}
        ],
      {% endif %}
    };

    var storyMap;
    $.getJSON("/data_manager/api/layers", function(data) {
      var dataLayers = _.indexBy(data, 'id');
      storyMap = OceanStory.create(leafletMapEngine('map'), story, dataLayers);

      storyMap.goToSection(0);
    });
  </script>

{% endblock %}
