{% load wagtailcore_tags %}
<div class="media-item media">
    {% if item.media_position == 'left' %}
        {% if item.media_image or item.media_embed_url %}
        <div class="media-left thumbnail">
            {% include "portal/components/media.html" %}
        </div>
        {% endif %}
    {% endif %}

    <div class="media-body">
        <div class="item-text">
            {% block body %}
                {{ item.body|richtext }}
            {% endblock %}
        </div>
    </div>

    {% if item.media_position == 'right' %}
        {% if item.media_image or item.media_embed_url %}
        <div class="media-right thumbnail">
            {% include "portal/components/media.html" %}
        </div>
        {% endif %}
    {% endif %}
</div>

{% if item.media_position == 'full' %}
    {% if item.media_image or item.media_embed_url %}
    <div class="media-full">
        {% include "portal/components/media.html" %}
    </div>
    {% endif %}
{% endif %}

