@mixin ellipsis($lines /*: 1*/, $line-height) {
	overflow: hidden;
	text-overflow: ellipsis;
	// multi-line ellipsis, webkit only
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
	// fallback
}

$hover-background-color: $gray-medium-light;

@mixin overflow-on-hover($background: $gray-light) {
	&:hover {
		position: relative;
		z-index: 1001;
		overflow: visible;
		-webkit-line-clamp: inherit;
		> * {
			display: block;
			background: $hover-background-color;
		}
	}
}

.grid-view > .detail:hover {
    background-color: $hover-background-color;
    outline: 1px solid $turquoise;
}

.grid-view > .detail > .media > .media-detail > .media-inner {
	border-right: 1px solid $gray;
}

.grid-view {
	.media {
		height: 15em;
	}
}

.detail + .detail {
    margin-bottom: 2em;
}

.detail {
	.feature {
		height: 194px;
		img {
			@include center-block();
			height: 100%;
			width: auto;
		}
	}
	.media-detail {
		a:hover {
			text-decoration: none;
		}
		text-align: center;

		.media-inner {
			> * {
				margin-bottom: $padding-base-vertical;
			}

			> a {
				border-top: 1px solid $gray;
				padding: 11px;
			}
			padding: $padding-base-vertical;
			padding-bottom: $padding-large-vertical;			
		}
		.icon {
			padding-top: 11px;
			font-size:20px;
			color: $deep-blue;
			// transform: scale(4);
		}
	}
	.media-body {
		.media-heading {
			@include ellipsis($lines: 2, $line-height: 1em*$headings-line-height);
			@include overflow-on-hover();
			font-size: 22px;
			@extend .font-medium;

		}
		.item-text {
			font-size: 15px;
			height: 10em;
			@include ellipsis($lines: 7, $line-height: 1em*$line-height-base);
		}
		.theme-detail-border {
			border-left: 1px solid $gray;
			margin-left: 0px;
			padding-left: 10px;
			margin-top: -30px;
			h2 {
				font-size: 48px;
			}
			.description {
				font-size: 19px;
			}
		}
		.layer-list{
			padding-left: 10px;
		}
	}
	.badge {
		$badge-diameter: 48px;
		$badge-border-width: 3px;
		line-height: 48px;
		display: block;
		border-radius: 50%;
		border: $badge-border-width solid $deep-blue;
		background-color: $deep-blue;
		color: $yellow;
		@include square($badge-diameter + $badge-border-width);
		font-family: $font-family-condensed;
		font-weight: bold;
		font-size: $badge-diameter/2;
	}
}


.data-gaps-page, .data-gap-page {
	.detail .badge {
		/* font-size: 54px/2.5;*/
		/* Shrink the badge text a bit, 54 is way too big.  */
		font-size: 20px;
	}
	.media-inner {
		padding-top: 20px;
	}
}

.story-page, .event-page {
	.media-detail {
		padding-top: 15px;
	}
}

.calendar-page, .event-page, .news-page, .story-page {
	.media-detail {
		.media-inner {
			border-right: 1px solid $gray;
			padding-right: 15px;
		}
		.month {
			color: $green;
			font-weight: bold;
			text-transform: uppercase;
		}
		.badge {
			font-weight: normal;
			border-color:  $green;
			background: transparent;
			color: $deep-blue;
		}
	}
	.media-body {
		padding-left: 10px;

		.calendar-container {
			padding-top: 20px;
			.location, .social-links {
				padding: 15px 0 15px 0;
				h4 {
					margin-bottom: 0;
				}
				p {
					font-size: 13px;
				}
			}
		}
	}
	.content {
		margin-bottom: 2em;
		.page-footer-nav {
			margin-top: 25px;
			padding-top: 40px;
			border-top: 1px solid $gray;
			a {
				@extend .font-bold;
				text-decoration: none;
				font-size: 16px;
			}
			.nav-text {
				color: $black;
			}
		}
	}
}

.welcome-snippet {
	margin-top: -35px;
}

body.story-page .detail .media-item .media-body .item-text {
    height: auto;
}