@mixin ellipsis($lines /*: 1*/, $line-height) {
	overflow: hidden;
	text-overflow: ellipsis;
	// multi-line ellipsis, webkit only
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
	// fallback
	height: $line-height * $lines;
}

$hover-background-color: $gray-medium-light;

@mixin overflow-on-hover($background: $gray-light) {
	&:hover {
		position: relative;
		z-index: 1001;
		overflow: visible;
		-webkit-line-clamp: inherit;
		> * {
			display: block;
			background: $hover-background-color;
		}
	}
}

.grid-view > .detail:hover {
    background-color: $hover-background-color;
    outline: 1px solid $turquoise;
}

.detail + .detail {
    margin-bottom: 2em;
}

.detail {
	.feature {
		height: 194px;
		img {
			@include center-block();
			height: 100%;
			width: auto;
		}
	}
	.media-detail {
		a:hover {
			text-decoration: none;
		}
		text-align: center;

		.media-inner {
			> * {
				margin-bottom: $padding-base-vertical;
			}
			padding: $padding-base-vertical;
			padding-bottom: $padding-large-vertical;
			border-right: 1px solid $gray;
		}
		.icon {
			font-size:20px;
			// transform: scale(4);
		}
	}
	.media-body {
		.media-heading {
			@include ellipsis($lines: 2, $line-height: 1em*$headings-line-height);
			@include overflow-on-hover();
		}
		.item-text {
			font-size: 11px;
			@include ellipsis($lines: 4, $line-height: 1em*$line-height-base);
		}
	}
	.badge {
		$badge-diameter: 54px;
		$badge-border-width: 3px;
		line-height: 54px;
		display: block;
		border-radius: 50%;
		border: $badge-border-width solid $deep-blue;
		background-color: $deep-blue;
		color: $yellow;
		@include square($badge-diameter + 2*$badge-border-width);
		font-family: $font-family-condensed;
		font-weight: bold;
		font-size: $badge-diameter/2;
	}
}


.data-gaps-page, .data-gap-page {
	.detail .badge {
		font-size: 54px/2.5;
	}
}

.data-catalog-page, .data-theme-page {
	.badge {
	}
}

.calendar-page, .event-page {
	.media-detail {
		.month {
			color: $green;
			font-weight: bold;
			text-transform: uppercase;
		}
		.badge {
			font-weight: normal;
			border-color:  $green;
			background: transparent;
			color: $deep-blue;
		}
	}
}
