//@import "../bootstrap/glyphicons";
@import "../../../static/icomoon/style.css";

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  transform:  scale(1.5);
  width: 1em;
}
  
.oversized {
  display: inline-block;
  transform:  scale(2.0);
  width: 1.3em;
}
