body.template-visualize{
    .navbar{
        margin-bottom: 0px;
    }
    .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
    }
    #atlwdg-trigger{
       display:none;
    }

    .btn{
        border-radius: 0px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    #left-panel{
        position: absolute;
        top: 100px;
        background-color: @light-gray;
        z-index:1000;
        width: 400px;
        padding: 0px;
    }
    #aggregated-attribute-overlay-test {
        max-height: 250px;
    }
    #aggregated-attribute-overlay{
        position:absolute;
        right: 70px;
        bottom: 120px;
        z-index: 1000;
        background-color: white;
        overflow: hidden;
        max-height: 250px;
        opacity: 0.9;
        .accordion-heading{
            background-color: @light-gray;
        }
        .accordion-toggle, .accordion-toggle:hover{
            cursor: pointer;
            padding: 5px 10px;
        }
    }

    dl{
        margin-bottom: 0px;
    }
    #aggregated-attribute-heading{
        height: 30px;
        padding: 0px 14px;
        h4{
            color: #00a564;
            font-size: 16px;
        }
    }

    #aggregated-attribute-content{
        overflow-y: auto;
        max-height: 200px;

        .accordion-inner{
            margin-left: 30px;
        }
    }

    #aggregated-attribute-overlay{
        position:absolute;
        right: 70px;
        bottom: 120px;
        z-index: 1000;
        background-color: white;
        overflow: none;
        max-height: 250px;
    }

    dl{
        margin-bottom: 0px;
    }
    #aggregated-attribute-heading{
        height: 30px;
    }

    #aggregated-attribute-content{
        overflow-y: auto;
        max-height: 200px;

        .accordion-inner{
            margin-left: 30px;
        }
    }

    #toggleBaselayer{
        width:60px;
        height:60px;
        background-color: black;
        background-image: url(../visualize/img/baselayer.png);
        display: table-cell;
        vertical-align: bottom;
        border: 1px solid @gray-darker;
        color: @gray-dark;
    }

    .olControlScaleBar {
        bottom: 0px;
        right: 13px;
    }

    /* Rules for the layer switcher */

    #map-wrapper {
        overflow: hidden;
    }
    #map {
        border-radius: 10px;
        overflow: hidden;
    }

    #map.zoomBox {
        cursor: url(../ico/magnify.cur), pointer;
        cursor: -moz-zoom-in, pointer;
    }

    #map-controls, #right-btns, #baselayers {
      position: absolute;
      z-index: 1020;
      padding: 2px;
      font-size: 12px;
    }

    #baselayers {
        bottom: 44px;
        right: 80px;
    }

    #map-controls {
        top: 91px;
        right: 30px;
    }

    #right-btns {
        top: 60px;
        left: 4px;
    }

    .layer-info{
        text-align:center;
        float: none;
        .link-bar{
            float: none;
            margin-left: auto;
            margin-right: auto;
            span{
                background-color: @gray-light;
                padding: 2px;
            }
        }
        a, a:hover, a:active, a:visited{
            font-size: 12px;
            font-weight:bold;

        }
        .layer-text{
            text-align: left;
            float: none;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            span{
                display: inline-block;
                margin: 7px;
                font-size: 12px;
            }
        }
    }

    #baselayers a, #map-controls a, #map-controls span, #right-btns a {
        display: block;
        margin: 2px;
        padding: 2px 0px 0px 2px;
        color: @gray-darker;
        text-decoration: none;
        text-align: center;
        height: 24px;
        width: 24px;
        line-height: 19px;
        background: @gray-light;
        filter: alpha(opacity=100);
        margin-bottom: 10px;
        border-bottom-left-radius: 0px;
    }

    #right-btns a {
        text-align: right;
        padding-right: 10px;
    }

    #baselayers span, #map-controls span, #right-btns span {
        opacity: 0;
        filter: alpha(opacity=0);
        font-size: 12px;
    }

    #baselayers span, #map-controls span {
        visibility: hidden;
        width: 100%;
    }

    #right-btns span {
        visibility: hidden;
    }

    #right-btns i.icon-zoom-in {
        margin-left: -63px;
    }

    #right-btns i.icon-layers {
        margin-left: -57px;
    }

    #right-btns i.icon-zoom-out {
        margin-left: -75px;
    }

    #right-btns:hover a,
    #right-btns.open {
        width: 120px;
    }
    #right-btns:hover span,
    #right-btns.open span  {
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    #right-btns:hover i,
    #right-btns.open i {
        margin-left: 0px;
    }
    #map-controls a:hover,
    #right-btns a:hover,
    #right-btns a.active {
        color: @green;
    }

    #map.zoomBox .olHandlerBoxZoomBox {
        border: 2px solid #2d8998;
    }

    .SimpleLayerSwitcher {
        position: absolute;
        bottom: 32px;
        right: 150px;
        background-color: @gray-light;
        border: 2px solid @gray-light;
        max-width: 450px;
        text-align: left;
        background: @gray-light;
        opacity: 1;
        border-radius: 0px;
        display: none; 
        overflow: hidden;
        width: 425px;
    }

    .SimpleLayerSwitcher a.basey {
      box-shadow: none;
      display:inline-block;
      text-decoration:none;
      color:white;
      padding:0px;
      padding-left: 0px;
      font-size: 14px;
      background: @gray-light;
      opacity: 1;
      width: 62px;
      margin: 4px 0px 3px 7px;
    }

    .SimpleLayerSwitcher a.basey-on {
        font-weight: bold;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .SimpleLayerSwitcher a {
      /*border-top:1px solid #eee;*/
      border: 1px solid black;
      div{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 60px;
        width: 60px;
        color: @gray;
        font-size: 12px;
      }
      
    }

    .SimpleLayerSwitcher a:hover {
        opacity: 1;
    }

    .SimpleLayerSwitcher a.basey-off {

    }

    .popover .radio input {
        width: 94%;
    }

    .disabled {
        color: #777 !important;
    }

    #printing-popover .arrow , #bookmark-popover .arrow{
        display: none;
    }

    #bookmarks-table{
        padding: 0px;
        overflow-y: auto;
        height: 200px;
        overflow-x: hidden;
    }

    #printing-popover .radio input {
        width: 20%;
    }
    #printing-popover .ui-spinner {
        width: 55%;
    }

    #printing-popover {
        max-width: 460px;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        .pull-right{
            margin: 6px 0 0 0px;
        }
    }

    #printing-popover .alert {
        margin-bottom: 10px;
    }

    #printing-popover .print-title {
        width: 418px;
    }
    #printing-popover .well {
        padding-top: 5px;
        padding-bottom: 6px;
    }
    #printing-popover .well strong {
        margin-left: -8px;
    }

    #printing-popover .checkbox {
        margin-left: 9px;
    }
    /*
    #printing-popover .popover-content{
        max-height:260px;
        overflow: auto;
    }
    */
    #print-modal .modal-header {
        border-bottom: 0px;
    }
    #print-modal .loading span {
        margin-left: 10px;
    }
    #print-modal .modal-body {
        overflow: hidden;
    }
    #print-modal img.thumb {
        display: block;
        margin: auto;
        width: 100%;
    }

    &.print .tabs,
    &.print .user-btn,
    &.print #feedback-tab,
    &.print #help-tab,
    &.print #map-controls,
    &.print .olControlZoom
     {
        display: none;
    }

    &.print #legend-wrapper, &.print #map-wrapper, &.print #map {
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;

    }

    &.print #map-panel {
        margin-left: 0px;
    }
    &.print #legend {
        margin-left: 1%;
    }

    &.borderless {
        margin-top: 0px;
    }
    body.borderless #primary-content {
        padding-left: 0px;
    }

    &.borderless hr,
    &.borderless .navbar,
    &.borderless .timestamp  {
        display: none;
    }

    &.borderless #map-wrapper {
        border: 0px;
    }

    .split-column {
        -moz-column-count: 2; /* Firefox */
        -webkit-column-count: 2; /* Safari and Chrome */
        column-count: 2;
    }


    .video-button a {
        cursor: pointer;
        /*text-decoration: none;*/
    }

    #video-modal {
        float: none;
        clear: both;
        width: 50%;
        left: 40%;
        /*position: relative;*/
        padding-bottom: 56.25px;
        padding-top: 5px;
        height: 0;
    }
    #video-modal .modal-body {
        min-height: 400px;
    }
    #video-modal iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .panel-title>a{
        float: right;
        color: white;
        background-color: @green;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        padding-left: 1px;
        padding-top: 2px;
        text-align: center;
    }
    .col-md-1, .col-md-3, .col-md-4, .col-md-5, .col-md-8, .col-md-10, .col-md-12  {
        padding-left:0px;
        padding-right:0px;
    }

    .panel-body{
        padding: 0px;
    }
    .panel-heading {
        padding: 10px 4px;
        height: 54px;
        border: 0px;
    }
    .panel-default>.panel-heading{
        background-color: @gray-lighter;
        border-color: @light-gray;
    }

    .nav-tabs{
        border-top: 1px solid #ddd;
        background-color: @gray-lighter;
        text-align: center;

        .disabled{
            background-color:@gray-lighter;
            
            a{
               color: @light-gray !important;
            }
        }
    }

    .nav-tabs>li{
        padding: 0px 15px 0px 15px;
        margin-bottom: 0px;
    }
    .nav-tabs>li a{
        margin-right:0px;
        border-top: 0px ;
        border-bottom: 0px ;
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;
        text-decoration: none;
        color: @gray-darker;
    }
    .nav-tabs li.active{
        background-color: @light-gray;
    }
    .nav-tabs>li.active a, .nav-tabs>li.active a:hover, .nav-tabs>li.active a:focus {
        border-bottom: 2px solid @green;
        color: @green;
        border-left: 0px;
        border-right: 0px;
        text-decoration: none;
    }

    .tab-content, #data-accordion{
        background-color: @gray-lighter;
        overflow-y: auto;
    }
    .tab-content .tab-pane{
        overflow-y: auto;
    }

    .accordion-toggle{
        padding: 10px 20px;
        display: block;
        color: @dark-gray;
        font-size: 16px;
    }

    .accordion-heading.active{
        background-color: @light-gray;
    }
    .jspTrack{
        border-left: 1px solid @light-gray;
        border-right: 1px solid @light-gray;
        background: @gray-lighter;
    }
    .jspDrag{
        background: @gray;
    }
    #data-panel{
        background-color: @gray-lighter;
    }

    ul.unstyled{
        list-style: none;
        padding-left: 0px
    }

    .btn:hover, .btn:focus , .btn.active, .btn.focus{
        color: @green;
        box-shadow: none;
    }

    #data-panel .dropdown-menu{
        left:15px;
        li{
            a{
                padding-top: 0px;
                padding-bottom: 0px;
            }

        }
    }

    .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
        color: @deep-blue;
        background-color: transparent;
    }
    .btn{
        text-align: left;
    }
    .btn .btn-text{
        text-align:left;
        white-space: normal;
        display: inline-block;
    }
    span.layer-toggle{
        float: right;
    }
    .layer-menu li a {
        display: block;
        margin-left: 5px;
    }

    table.catalog-data {

        a{
            white-space: inherit;
        }
    }

    #legend-popover{
        top: 100px !important;
        right: 75px !important;
        left: inherit !important;
        width: 270px;
        max-width: 280px;
        height: 320px;
        background-color: @gray-lighter;
        border: none;
        border-radius:0px;
        box-shadow: none;
        h3{
            color: @green;
            font-size: 14px;
        }
        a:hover{
            color: @green;
        }
        a.close-popup{
            padding: 5px;
            top: 1px;
            position: absolute;
            right: 5px;
        }
        #legend-wrapper{
            overflow-y:auto;
            overflow-x:hidden;
            height: 280px;

            #legend-content{
                padding: 10px;
            }
        }
    }

    #bookmark-popover{

        top: 100px !important;
        right: 75px !important;
        left: inherit !important;
        width: 450px;
        max-width: 460px;
        height: 320px;
        background-color: @gray-lighter;
        border: none;
        border-radius:0px;
        box-shadow: none;
        .popover-title{
            background-color: @gray-lighter;

        }
        h3{
            color: @green;
            font-size: 14px;
        }
        a:hover{
            color: @green;
        }
        a.close-popup{
            padding: 5px;
            top: 1px;
            position: absolute;
            right: 5px;
        }
        hr{
            border-top: 1px solid @light-gray;
        }
        input{
            width: 75%;
        }
    }

    .bookmark-settings-popover {
        background-color: @gray-lighter;
        border: none;
        border-radius:0px;
        a{
            font-size: 12px;
            text-decoration:none;
        }
        a:hover{
            text-decoration:none;
            color: $green;
            cursor: pointer;
        }
    }

    .search-box{
        border: none;
        border-bottom: 1px solid @dark-gray;
        box-shadow: none;
        border-radius: 0px;
        background-color: @gray-lighter;
        font-size: 20px;
        font-weight: 100;
    }
    #left-maximized{
        float: left;
        width: 350px;
    }

    #left-minimized{
        top:0px;
        position: absolute;
        padding-left: 11px;
        h4{
            margin-bottom: 0px;
        }
        span{
            font-size: 12px;
            padding: 0;
        }
    }

    .radio, .checkbox{
        display:inline;
    }
    .popover{
        min-width: 150px;
        min-height: 30px;
    }

    .tooltip-inner {
        white-space: nowrap;
        background-color: @gray-lighter;
        color: @black;
        border: 1px solid @black;
    }

    .tooltip.right .tooltip-arrow {
        border-right: 5px solid @black;
    }
    .tooltip.left .tooltip-arrow {
        border-left: 5px solid @black;
    }

    .popover-inner{
        background-color: @gray-lighter;
    }


    @media print {
        left-panel{
            display:none;
        }
    }
    @media (min-width: 992px){
        .col-md-4{
            width:33%;
        }
    }
    @media (max-width: 767px) {
        #data-panel {
            width: 100%;
        }
        #map-panel {
            width: 100%;
            margin: 10px 0px;
        }
        #content {
            margin-top: 120px;
        }
        #sidebar-nav {
            position: relative;
            top: 10px;
        }
        .nav-collapse {
            width: 100%;
        }
        .nav-collapse .nav {
            float: left;
        }
        .nav-collapse .nav > li {
            float: left;
        }
        .showcase {
            margin-top: 10px;
        }
        h3 {
            font-size: 18px !important;
        }
        .theme li {
            padding-left: 0px;
        }
        #data-accordion .btn-group-layer .btn-layer {
          width: 72%;
          font-size: 14px;
        }
        .split-column {
            -moz-column-count: 1; /* Firefox */
            -webkit-column-count: 1; /* Safari and Chrome */
            column-count: 1;
        }

    }


    @media (min-width: 768px) and (max-width: 979px) {
        .showcase {
            margin-top: 5px;
        }
        .showcase .caption {
            top: 100px;
        }
        #active .btn-group .btn-layer {
            width: 65%;
            font-size: 14px;
        }
        .form-search input {
            width: 55%;
            margin-left: -18px;
        }
        #data-accordion .btn-group-layer .btn-layer {
          width: 68%;
          font-size: 14px;
        }
    }


    @media (max-height: 740px) {
        #sidebar-nav {
            position: relative;
            top: -15px!important;
        }

    }
}
