{% extends "cms/section.html" %}
{% load wagtailcore_tags static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bower_components/ol3-unofficial/ol.css' %}" />
{% endblock %}

{% block navbar-extra-classes %}navbar-fixed-top{% endblock %}

{% block header %}
    {{ block.super }}
    <div class="curtain-container">
        <div class="curtain">
            <div id="ocean-story-map"></div>
        </div>
        {% if self.explore_title %}
            <div class="curtain overlay">
                <a class="btn btn-default btn-lg view-data" href='{{ self.explore_url }}'><span class="icon icon-marco oversized"></span>&nbsp; {{ self.explore_title }}</a>
            </div>
        {% endif %}
        <div class="intro overlay">
            <div class="center">
                <div class="container">
                    <div class="ocean-story-n"><span>OCEAN STORY #{{ self.get_prev_siblings.count|add:1 }}</span></div>
                    {% if self.hook %}<div class="hook">{{ self.hook }}</div>{% endif %}
                </div>
            </div>
            {% with page=self.portal_prev_sibling %}
                {% if page %}
                    <a class="previous-page" href="{% pageurl page %}">
                        <i class="fa fa-2x fa-caret-left"></i>
                    </a>
                {% endif %}
            {% endwith %}
            {% with page=self.portal_next_sibling %}
                {% if page %}
                    <a class="next-page" href="{% pageurl page %}">
                        <i class="fa fa-2x fa-caret-right"></i>
                    </a>
                {% endif %}
            {% endwith %}
        </div>
        <a href="#page-header" class="learn-more animate">
            <table style="width:100%;">
                <tr>
                    <td style="line-height:0;"><i class="fa fa-angle-double-down fa-2x"></i></i></td>
                </tr>
                <tr>
                    <td style="line-height:0;">learn more</td>
                </tr>
            </table>
        </a>
    </div>
{% endblock %}

{% block content %}


    {% if self.sections %}
        {% for section in self.sections.all %}
            <a style="clear:right" class="anchor" id="section-{{forloop.counter}}"></a>
            {% if section.map_legend %}
                <div style="
                    float: right;
                    width: 200px;
                    margin-top: calc(20px + 8px + 56px);   /* match to top of section paragraph */
                    ">
                    <!-- div style="border: 2px solid black; background-color: rgba(0, 0, 0, 0.5); display: block;" -->
                    <div class="well" style="
                        text-align:left;
                        background-color: white;
                        overflow-y: auto;
                        max-height: 400px;
                        ">
                        <b >Legend</b><br>
                        {% for legend in section.parsed_map_state.dataLayers.values %}
                            {{ legend.name }}<br><img src="{{ legend.legend }}"><br>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <section>
                <h2>{{ section.title }}</h2>
                {% include "portal/components/media_item.html" with item=section only %}
            </section>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'bower_components/ol3-unofficial/ol.js' %}"></script>
    <script src="{% static 'bundles/ocean_story.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            oceanStory($('#ocean-story-map'), {{ self.as_json|safe }}, true);
        })
    </script>
{% endblock %}
