// Core variables and mixins
@import "variables";
@import "mixins";

@import "../bootstrap/stylesheets/bootstrap/variables";
@import "../bootstrap/stylesheets/bootstrap/mixins";


// Reset and dependencies
@import "../bootstrap/stylesheets/bootstrap/normalize";
@import "../bootstrap/stylesheets/bootstrap/print";
@import "modules/icons";

// Core CSS
@import "../bootstrap/stylesheets/bootstrap/scaffolding";
@import "../bootstrap/stylesheets/bootstrap/type";
/* @import "bootstrap/code"; */
@import "../bootstrap/stylesheets/bootstrap/grid";
@import "../bootstrap/stylesheets/bootstrap/tables";
@import "../bootstrap/stylesheets/bootstrap/forms";

@import "modules/buttons";

// Components
@import "../bootstrap/stylesheets/bootstrap/component-animations";
@import "../bootstrap/stylesheets/bootstrap/dropdowns";
@import "../bootstrap/stylesheets/bootstrap/button-groups";
@import "../bootstrap/stylesheets/bootstrap/input-groups";
@import "../bootstrap/stylesheets/bootstrap/navs";
/* @import "bootstrap/breadcrumbs"; */
/* @import "bootstrap/pagination"; */
/* @import "bootstrap/pager"; */
/* @import "bootstrap/labels"; */
/* @import "bootstrap/badges"; */
/* @import "bootstrap/jumbotron"; */
/* @import "bootstrap/thumbnails"; */
@import "../bootstrap/stylesheets/bootstrap/alerts";
/* @import "bootstrap/progress-bars"; */
@import "../bootstrap/stylesheets/bootstrap/media";
@import "../bootstrap/stylesheets/bootstrap/list-group";
@import "../bootstrap/stylesheets/bootstrap/panels";
@import "../bootstrap/stylesheets/bootstrap/responsive-embed";
@import "../bootstrap/stylesheets/bootstrap/wells";
@import "../bootstrap/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../bootstrap/stylesheets/bootstrap/modals";
@import "modules/tooltip";
@import "../bootstrap/stylesheets/bootstrap/popovers";
/* @import "bootstrap/carousel"; */

// Utility classes
@import "../bootstrap/stylesheets/bootstrap/utilities";
@import "../bootstrap/stylesheets/bootstrap/responsive-utilities";


@import "icons";

@import "modules/navbar";
@import "modules/page_header";
@import "modules/content";
@import "modules/footer";
@import "modules/user_content";
@import "modules/type";
@import "modules/feedback";
@import "modules/grid_view";
@import "modules/media_item";
@import "modules/detail";

@import "layouts/page";
@import "layouts/section";
@import "layouts/detail";
@import "modules/print";

@import "pages/styleguide";
@import "pages/data_theme";
@import "pages/ocean_story";
@import "pages/search";



/* ***********************
    Move to new file later.
   *********************** */

/* Space above footer */
.content:last-child {
    margin-bottom: 4em;
}

/* Increase P+P spacing */
p + p {
    margin-top: 1em;
}

.caption {
    font-size: 14px;
    color: $medium-gray;
}




/* This is a little weird, but the module-specific CSS has to be somewhere */
/* todo: add an assets/styles static directory to all of the sub projects */
@import "accounts/accounts.scss";
@import "marine_planner.scss";
@import "drawing.scss";
