{% load wagtailcore_tags wagtailimages_tags %}
<div class="detail">
  {% block feature %}
    <div class="feature">
      {% if item.feature_image %}
        <a href="/{{ item.url_override }}/">
          {% image item.feature_image fill-345x194 class="feature" %}
        </a>
      {% endif %}
    </div>
  {% endblock %}
  <div class="media">
    <div class="media-left media-detail">
      <div class="media-inner">
        {% block media %}
          <div class="badge">{{ item.target_year|default:"--" }}</div>
        {% endblock %}
      </div>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{% block heading %}<a href="/{{ item.url_override }}/">{{ item.title }}</a>{% endblock %}</h4>
      <div class="item-text">
        {% block text %}
          {% if item.search_description %}
            {{ item.search_description|striptags|truncatechars:256 }}
          {% else %}
            {{ item.description|striptags|truncatechars:256 }}
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>


