.ellipsis(@lines: 1) {
	overflow: hidden;
	text-overflow: ellipsis;
	// multi-line ellipsis, webkit only
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: @lines;
	// fallback
	height: 1em*@line-height-base*@lines;
}
.overflow-on-hover(@background: @gray-light) {
	&:hover {
		position: relative;
		z-index: 1001;
		overflow: visible;
		-webkit-line-clamp: inherit;
		> * {
			display: block;
			background: @background;
			padding-bottom: 1em*@line-height-base/2;
		}
	}
}

.detail {
	.feature {
		height: 194px;
		img {
			.center-block();
			max-height: 194px;
			max-width: 100%;
		}
	}
	.media-detail {
		a:hover {
			text-decoration: none;
		}
		text-align: center;

		.media-inner {
			> * {
				margin-bottom: @padding-base-vertical;
			}
			padding: @padding-base-vertical;
			padding-bottom: @padding-large-vertical;
			border-right: 1px solid @gray;
		}
		.badge {
			@badge-diameter: 54px;
			@badge-border-width: 3px;
			line-height: 54px;
			display: block;
			border-radius: 50%;
			border: @badge-border-width solid @deep-blue;
			background-color: @deep-blue;
			color: @yellow;
			.square(@badge-diameter + 2*@badge-border-width);
			font-family: @font-family-condensed;
			font-weight: bold;
			font-size: @badge-diameter/2;
		}
		.icon {
			font-size:40px;
			// transform: scale(4);
		}
	}
	.media-body {
		.media-heading {
			.ellipsis(@lines: 2);
			.overflow-on-hover;
		}
		.item-text {
			font-size: 11px;
			.ellipsis(@lines: 4);
		}
	}
}


.data-gaps-page, .data-gap-page {
	.badge {
		font-size: 54px/3;
	}
}

.data-catalog-page, .data-theme-page {
	.badge {
	}
}

.calendar-page, .event-page {
	.media-detail {
		.month {
			color: @green;
			font-weight: bold;
			text-transform: uppercase;
		}
		.badge {
			font-weight: normal;
			border-color:  @green;
			background: transparent;
			color: @deep-blue;
		}
	}
}
