body.data-theme-page {
    span[id^="layer-info-"] {
        display: block;
        height: $navbar-height;
        margin-top: -$navbar-height;
        visibility: hidden;
    }

  .catalog-padding {
    padding: 30px 0 0 50px;
    .layer-info {
      border-bottom: 1px solid $gray;
      padding: 40px 0 40px 0;

    }
    .layer-list {
      section:last-child {
        border: none;
      }
    }
  }

  .layer-info {
    h4 {
      font-size: 24px;
      letter-spacing: 1em * 50/1000;
      font-family: $font-family-condensed;
      padding-bottom: 15px;
      > a {
        color: $brand-success;
      }
      .layer-parent-name {
        color: $gray-dark;
      }
    }
    .link-bar {
      padding: $padding-base-vertical 0;
      background-color: $white;
      display: inline-block;
      font-size: 19px;
      @extend .font-bold;
      letter-spacing: 1em * 100/1000;
      a {
        color: $brand-primary;
        padding-right: 8px;
        @extend .font-bold;
        > .oversized {
          padding-left: 5px;
        }
      }
      span.divider {
        border-right: 1px solid $brand-primary;
        font-size: 13px;
      }

    }
    p {
      @extend .text-block;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: .055em;
      margin: 0px;
    }
    p.description {
     padding: 15px 0 15px 0;
    }
    padding-bottom: $padding-large-vertical;
  }
  .explore {
    h4 {
      padding: 35px 0 5px 0;
    }
    .row {
      width: 75%;
      p.explore-info {
        width: 100%;
      }
      pre {
        border-radius: 7px 7px 7px 7px;
        -moz-border-radius: 7px 7px 7px 7px;
        -webkit-border-radius: 7px 7px 7px 7px;
        padding: 10px;
        background-color: $gray-lighter;
      }
    }
    .row.split {
        border-bottom: 1px solid $medium-gray;
        padding: 20px 0 35px 0;
    }
  }
}
