div.curtain-container {
    margin-bottom: -$navbar-height;
}

.curtain {
  position: fixed;
  width: 100%;
  background: $gray-dark;
  overflow: hidden;
  z-index: 800;
  @include box-shadow(0 0px 20px $gray);
}

.overlay {
  z-index: 900;
  background: transparent;
  pointer-events: none;
}

.clickable {
  pointer-events: auto;
}

.center {
    position: absolute;
    top: 50%;
    width: 100%;

    @include translate(0, -50%);
}


.ocean-story-page {
  #ocean-story-map {
    &.full {
      height: calc(100vh - #{$navbar-height});
    }
    &.half {
      height: 40vh;
    }
    cursor: inherit;
    position: relative;
    top: 50%;
    width: 100%;

        @include translate(0, -50%);
    }

  @extend .navbar-transparent;

  .view-data {
    @extend .clickable;
    z-index: 900;
    position: absolute;
    @extend .font-medium;
    font-size: 13px;
    right: 8px;
    bottom: 8px;
    .icon {
      color: $brand-success;
    }
  }

  .intro {
    width: 100%;
    text-shadow:0px 0px .1em $black;
    height: calc(100vh - #{$navbar-height});
    position: relative;
    .ocean-story-n {
      font-family: "Roboto Condensed";
      font-size: 16pt;
      text-transform: uppercase;
      margin-bottom: 0.5em;

      > span {
        border-bottom: 4px solid $brand-warning;
      }
    }
    .hook {
      font-size: 51pt;
      line-height: 61pt;
      font-weight: 600;
    }
    .center {
      text-align: center;
      color: $white;

      background-color: rgba(0, 0, 0, 0.125);
      text-shadow: 0px 0px 8px #666;
      padding: 2em;
    }
    a.next-page, a.previous-page {
      @extend .clickable;
      background: fade($gray-darker, 50%);
      color: $white;
      padding: 15px;
      position: absolute;
      top: 50%;

        @include translate(0, -50%);
    }
    a.next-page {
      right: 0;
    }
    a.previous-page {
      left: 0;
    }
  }

  .learn-more {
    display: block;
    height: $navbar-height;
    line-height: $navbar-height;
    width: 100%;
    text-align: center;
    /*font-style: italic;*/
    font-weight: bold;
    margin-top: 5px;
  }

  a.anchor {
    display: block;
    position: relative;
    top: -40vh;
    visibility: hidden;
  }

  .content {
    section {
      @extend .text-block;
    }
  }

  a.anchor.active + * {
    > h2 {
      /*color: $brand-success;*/
    }
  }

  a.animate {
    -webkit-animation: bounce 3s 3s ease-out;
    -moz-animation: bounce 3s 3s ease-out;
    -o-animation: bounce 3s 3s ease-out;
    animation: bounce 3s 3s ease-out;
  }
}

@-webkit-keyframes bounce {
  0% {
  -webkit-transform:translateY(0);
    opacity: 1;
  }
  33% {
    -webkit-transform:translateY(-25%);
    padding-bottom: 12px;
    opacity: 1;
  }
  66% {
  -webkit-transform:translateY(35%);
    opacity: 1;
  }
  100% {
    -webkit-transform:translateY(0);
    padding-bottom: 12px;
    opacity: 1;
  }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
  -moz-transform:translateY(0);
    opacity: 1;
  }
  33% {
    -moz-transform:translateY(-25%);
    padding-bottom: 12px;
    opacity: 1;
  }
  66% {
  -moz-transform:translateY(35%);
    opacity: 1;
  }
  100% {
    -moz-transform:translateY(0);
    padding-bottom: 12px;
    opacity: 1;
  }
}

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
  -o-transform:translateY(0);
    opacity: 1;
  }
  33% {
    -o-transform:translateY(-25%);
    padding-bottom: 12px;
    opacity: 1;
  }
  66% {
  -o-transform:translateY(35%);
    opacity: 1;
  }
  100% {
    -o-transform:translateY(0);
    padding-bottom: 12px;
    opacity: 1;
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
0% {
transform:translateY(0);
  opacity: 1;
}
33% {
  transform:translateY(-25%);
  padding-bottom: 12px;
  opacity: 1;
}
66% {
transform:translateY(35%);
  opacity: 1;
}
100% {
  transform:translateY(0);
  padding-bottom: 12px;
  opacity: 1;
}
}

.legend-well {
    float: right;
    width: 200px;
    margin-top: 84px;
}

.legend-well.no-headline {
    margin-top: 18px;
}

.legend-well > .well {
    text-align:left;
    background-color: white;
    overflow-y: auto;
    max-height: 400px;
}
