.search-container {
  @include make-row();
  form.search {
    @include make-sm-column(8);
    @include make-md-column(6);
  }
}

.search-results {
	width: 75%;
	p {
		font-size: 18px;
	}
	.item-text {
		font-size: 15px;
		@include ellipsis($lines: 2, $line-height: 1em*$line-height-base);
		.rich-text {
			font-size: 15px;
		}
	}
}

.search-results.data {
	p {
		margin:5px 0 0 0;
	}
}

.search-results.calendar-news,
.search-results.ocean-story {
	p {
		margin-bottom: 2px;
	}
	.date {
		font-size: 13px;
		vertical-align: middle;
	}
}
