// Styles in support of the styleguide

.page-styleguide {
	.color-palette {
	  @include make-row();
		.palette-card {
	  	@include make-sm-column(6);
	  	@include make-md-column(3);
		}
	}
	.swatch {
		border-radius: 50%;
		width: 100px;
		height: 100px;
	    @include center-block();
	}
  .deep-blue {
	  background-color: $deep-blue;
	}
  .green {
	  background-color: $green;
	}
  .turquoise {
	  background-color: $turquoise;
	}
  .yellow {
	  background-color: $yellow;
	}
  .dark-gray {
	  background-color: $dark-gray;
	}
  .medium-gray {
	  background-color: $medium-gray;
	}
  .gray {
	  background-color: $gray;
	}
  .light-gray {
	  background-color: $light-gray;
	}
}
