body.detail-layout {
    h2 {
        width: 75%;
    }

    .content{
        .description {
            @extend .text-block;
        }
    }

    section:last-child {
        margin-bottom: 4em;
    }
}
