.template-ocean-story {
  .sticky-header {
    position: fixed;
    top: 0px;
    z-index: 100;
  }
  .navbar-default {
    margin-bottom: 0;
    z-index: 1000;
  }
  #map {
    width: 100vw;
    height: 50vh;
    margin-top: - ($navbar-height + 2);
    cursor: inherit;
    background: $gray;
  }
  .content {
    margin-top: 50vh;
  }
  // could add :last-child
  .section {
    min-height: 50vh;
  }
}
