{% extends "portal/components/card.html" %}
{% load wagtailimages_tags %}

{% block feature %}
	<div class="feature">
    {% if item.wagtail_feature_image %}
			<a href="{{ item.name }}">
        {% image item.wagtail_feature_image fill-345x194 class="feature" %}
      </a>
    {% endif %}
	</div>
{% endblock %}

{% block heading %}<a href="{{ item.name }}">{{ item.display_name }}</a>{% endblock %}
{% block media %}<div class="badge">{{ item.layer_count }}</div>{% endblock %}
{% block text %}{{ item.description|truncatechars_html:256 }}{% endblock %}
