{% load static menu %}
<div class="footer-inner">
    <div class="info">
        <a class="footer-brand" href="/">
            <img src="{% static 'brand/MARCO_portal_logo_wht_yellow_recropped.svg' %}"></img>
        </a>
        <p class="about-text">Welcome to the Mid-Atlantic Ocean Data Portal, an ocean planning resource center, and the <a href="{% url 'planner' %}">Marine Planner</a>, an Interactive mapping tool.</p>


    <form id="mailinglist-form" action="http://point97.createsend.com/t/d/s/jruluy/" method="post" class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <label for="fieldEmail" class="sr-only">Sign up for our email list</label>
                <div class="inner-addon">
                    <i class="fa fa-envelope left"></i>
                    <i class="fa fa-arrow-right right" onclick="document.getElementById('mailinglist-form').submit();"></i>
                    <input id="fieldEmail" name="cm-jruluy-jruluy" type="email" required class="form-control" style="display:inline" placeholder="Sign up for our email list">
                </div>
            </div>
        </div>
    </form>
    <div class="social-links">
        <a class="fa-stack fa-lg" href="https://www.facebook.com/midatlanticocean" target="_blank">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x deep-blue"></i>
        </a>
        <a class="fa-stack fa-lg" href="https://twitter.com/PortalMARCO" target="_blank">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x deep-blue"></i>
        </a>
        <a class="fa-stack fa-lg" href="https://vimeo.com/marcoportal" target="_blank">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa i-vimeo fa-stack-1x deep-blue"></i>
        </a>
    </div>

    <div class="contact">
      <a class="email" href="mailto:portal@midatlanticocean.org">portal@midatlanticocean.org</a>
    </div>

  </div>
  <div class="menu">
    {% menu 1 "plain" %}
  </div>
  <div class="menu">
    {% menu 2 "plain" %}
  </div>
  <div class="menu">
      <h4>Log In</h4>
      <ul role="menu">
          <li><a href="{% url 'account:login' %}">Log In</a></li>
          <li><a href="{% url 'account:register' %}">Register</a></li>
          <li><a href="#nowhere">Account settings</a></li>
          <li><a href="#nowhere">My map groups</a></li>
          <li><a href="{% url 'account:logout' %}">Log out</a></li>
      </ul>
  </div>
</div>
