.ocean-story-page {
  .navbar {
    background: rgba($gray-lighter, .5);
    border-color: transparent;
    li { color: #000 }
    z-index: 1000;
  }

  #map {
    position: fixed;
    top: 0px;
    width: 100%;
    cursor: inherit;
    background: $gray;
  }
  .content {
    margin-top: 50vh;
  }
  // could add :last-child
  .section {
    min-height: 50vh;
  }
}
