.ocean-story-page {
  nav.navbar {
    background: rgba($gray-lighter, .5);
    border-color: transparent;
    li { color: #000 }
    z-index: 1000;
    margin-bottom: -$navbar-height;
    position: absolute;
  }

  #map {
    position: fixed;
    top: 0px;
    width: 100%;
    cursor: inherit;
    background: $gray;
    z-index: 500;
  }
  .content {
    margin-top: calc(100vh - 60px);
    // this is an experiment: making section headings scroll over the map
    h1,h2 {
      position: relative;
      z-index: 1000;
    }
    a.anchor {
      display: block;
      position: relative;
      top: -50vh;
      visibility: hidden;
    }
  }
  .learn-more {
    display: block;
    height: 40px;
    width: 100%;
    padding-top: 20px;
    text-align: center;
  }
  a.next-page, a.previous-page {
    background: rgba($gray-darker, 0.5);
    color: $white;
    padding: 15px;
    z-index: 900;
    position: absolute;
    top: calc( 50vh - 30px );
  }
  a.next-page {
    right: 0;
  }
  a.previous-page {
    left: 0;
  }


  // could add :last-child
  .section {
    min-height: 50vh;
  }
}
